@font-face
  font-family: 'shannonbook'
  src: url('../fonts/shannobk-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'cormorant_garamondsemibold'
  src: url('../fonts/cormorantgaramond-semibold-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
