:root
  --gutter              : 2em
  --gutterMobile        : 1.3em
  --gutterBottom        : 4em
  --gutterBottomMobile  : 3em
  --gutterTop           : 1.4em
  --linespace           : 2em
  --linespaceMobile     : 1.85em
  --color1              : #d7df21   // (249,255,114)
  --color2              : #680ce8   // (104,12,232)
  --color3              : rgb(104,12,232,.2)
  --color4              : #969954   //(150,153,84)
